@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/MyScript.js"></script>

<h2>Index</h2>
<input type="button" value="Click me" id="myButton"/>
<div id="results">

</div>